body {
  background-color: #E5E5E5;
}
.question {
  width: 100%;
  background-color: #BFB5AF;

  &__main {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .dropdown {
      position: relative;
      display: inline-block;

      &__dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      &__dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
      }

      &__content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 156px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      &__content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      &__content a:hover {
        background-color: #ddd;
      }
    }

    .show {
      display:block;
    }
  }

  &__question-list {
    background-color: #7b7df9;
  }

}

