$white: #ffffff;
$bg: #FAF7F2;

body {
  background: $white;
}

.content {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.card {
  height: 255px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background: $bg;
  margin: 25px;
  transition: 0.4s;
  padding: 10px;

  &:hover {
    height: 440px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }

  &__img {
    height: 200px;
    width: 100%;

    &--avatar {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__top {
    padding: 5px;

    &--name {
      font-weight: 600;
      font-size: 25px;
      margin: 0;
    }
  }

  &__bottom {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
  &:hover &__bottom{
    opacity: 1;
    visibility: visible;
  }
}