.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

  &__link {
    color: darkcyan;

    &:active {
      color: crimson;
    }
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: powderblue;
    color: black;
    font-weight: normal;
    max-width: 900px;
    padding: 30px;
    font-family: Arial;
    font-size: 18px;
    border: cadetblue 3px solid;
    text-align: left;
    position: relative;
    transition: all 0.8s ease 0s;
  }

  &__q {
    width: 350px;
    height: 20px;
    margin: 10px 0px 10px 0px;

    &:focus {
      outline-style: solid;
      outline-color: tomato;
      font-size: 14px;
    }

  }

  .menu {
    position: center;

    &__list {
      display: flex;
      position: center;
    }

    &__list li {
      margin: 0px 5px 0px 0px;
    }

    &__list li:hover .sub-menu__list {
      display: block;
    }

    &__link {
      color: black;
    }
  }

  .menu a {
    text-decoration: none;

  }

  .menu li {
    list-style: none;
    position: relative;
  }

  .sub-menu__list {
    min-width: 230px;
    display: none;
    position: center;
    top: 10px;
    padding: 5px 0px 0px 0px;

    &__list li {
      background-color: cadetblue;
    }
  }

  .sub-menu__link {
    color: darkcyan;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
  }

    &__answer {
      position: center;
      padding-left: 40px;

      &-label {
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
      }

      &-radio {
        display: none;
      }

      &-radioFake {
        display: inline-block;
        position: center;
      }

      &-radioFake::before {
        content: "";
        position: center;
        display: inline-block;
        width: 25px;
        height: 15px;
        background-color: cadetblue;
      }

      &-radio:active + &-radioFake::before {
        background-color: tomato;

      }
    }

    &__fileSystem {
      padding-left: 40px;

      &-label {
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
      }

      &-checkbox {
        display: none;
      }

      &-checkboxFake {
        display: inline-block;
        position: center;
      }

      &-checkboxFake::before {
        content: "";
        position: center;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: cadetblue;
      }

      &-checkbox:checked + &-checkboxFake::before {
        background-color: tomato;
        border-radius: 50%;
      }
    }



    .button {
      margin-top: 10px;
      text-align: center;
      padding-left: 210px;


      &__cancel {
        width: 90px;
        height: 30px;
        font-size: 13px;
        margin: 20px;
        cursor: pointer;
        opacity: 0.75;

      }

      &__create {
        width: 90px;
        height: 30px;
        font-size: 13px;
        margin: 20px;
        cursor: pointer;
        opacity: 0.75;
      }
    }

  &__close{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: darkcyan;
    text-decoration: none;
  }
  }

